<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

      <title>Register form - Bedimcode</title>
   </head>
   <body>
      <div class="login">
         <img src="{{ url_for('static', filename='img/login-bg.png') }}" alt="image" class="login__bg">

         <form action="" method="POST" class="login__form">
            <h1 class="login__title">Register</h1>

            <div class="login__inputs">
               <div class="login__box">
                  <input type="text" placeholder="Your Name" name="name" required class="login__input">
                  <i class="ri-user-fill"></i>
               </div>

               <div class="login__box">
                  <input type="email" placeholder="Email ID" name="email" required class="login__input">
                  <i class="ri-mail-fill"></i>
               </div>
            </div>

            <div class="login__check">
               <div class="login__check-box">
                  <input type="checkbox" class="login__check-input" id="user-check" required>
                  <label for="user-check" class="login__check-label">I agree to terms</label>
               </div>

               <a href="{{ url_for('home') }}" class="login__forgot">Back to Login</a>
            </div>

            <button type="submit" class="login__button">Register</button>

            <div class="login__register">
               Already have an account? <a href="{{ url_for('home') }}">Login</a>
            </div>
         </form>
      </div>

      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <script>
               {% for message in messages %}
                  alert("{{ message }}");
               {% endfor %}
            </script>
         {% endif %}
      {% endwith %}
   </body>
</html>